*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

:root {
	/* Colours */
	--body-colour: #8bc6ec;
	--main-colour: #d6e6f0;
	--dark-colour: #415c6e;
	--light-red: #eda4a4;
	--bright-red: #f74e4e;
}

html {
	box-sizing: border-box;
	font-size: 100%;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: var(--body-colour);
}

.container {
	background-color: var(--main-colour);
	border-radius: 5px;
	margin: 0 auto;
	width: 90%;
	padding: 10px;
	margin-top: 20px;
}

.todo-top h2,
.todo-bottom h2 {
	color: var(--dark-colour);
	font-weight: 700;
}

.input-group {
	position: relative;
	margin: 1rem 0;
	margin-top: 2rem;
}

.input-group > label {
	color: hsl(0, 0%, 67%);
	position: absolute;
	left: 5px;
	transition: transform 150ms ease-out;
}

.input-group > input {
	width: 100%;
	padding: 5px;
	border: none;
	border-bottom: 3px solid var(--dark-colour);
	border-radius: 2.8px;
	background-color: inherit;
}

.input-group > input:focus {
	outline: none;
}

.todo-top > button {
	width: 25%;
	height: 30px;
	color: var(--dark-colour);
	font-weight: 700;
	background-color: var(--body-colour);
	border: none;
	border-radius: 3px;
	box-shadow: 0px 1.5px 4px hsl(0, 0%, 46%);
	padding: 5px;
	font-size: 1rem;
	margin-bottom: 1.5rem;
	cursor: pointer;
}

hr {
	background-color: var(--dark-colour);
	height: 1px;
	border: none;
}

.todo-bottom {
	margin-top: 1rem;
}

.todo-bottom h2 {
	margin-bottom: 1rem;
}

.todo-list {
	list-style-type: none;
}

.todo-list li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--dark-colour);
	border-bottom: none;
	padding: 10px;
	cursor: pointer;
}

.todo-list li > p:hover {
	color: gray;
	transition: ease-in-out 0.4s;
}

.todo-list li:last-of-type {
	border-bottom: 1px solid var(--dark-colour);
}

.todo-list div {
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
}

.todo-list span {
	height: 5px;
	width: 20px;
	background-color: var(--light-red);
	border-radius: 5px;
	display: block;
	position: absolute;
	top: 13px;
	left: 5px;
}

.todo-list li > div:hover > span {
	background-color: var(--bright-red);
}

.line1 {
	transform: rotate(-45deg) translateY(0px);
}

.line2 {
	transform: rotate(45deg) translateY(0px);
}

.focused {
	transform: translateY(-125%);
	font-size: 0.8rem;
}

@media only screen and (max-width: 330px) {
	.todo-top > button {
		width: 100% !important;
	}
}

@media only screen and (max-width: 393px) {
	.todo-top > button {
		height: 40px;
		width: 30%;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		width: 70%;
	}

	.todo-top > button {
		height: 40px;
		width: 20%;
	}
}
